<div class="card mx-auto text-center" style="padding:20px; border-radius:20px;max-width:500px; align-content:center; margin:auto">
  <h5 class=" display-5 fw-bold text-body-emphasis rounded text-center  p-3">Add new Post</h5>

  <form #form="ngForm" enctype="multipart/form-data">

    <input class="form-control" style="border-radius:20px" placeholder="Enter the title" [(ngModel)] = "" />
    <br />
    <div class="row mb-3">
      <div class="col d-grid">
        <button type="submit" class="btn btn-outline-primary" style="border-radius:20px" href="/">Add Post</button>
      </div>
      <div class="col d-grid">
        <a href="/" style="border-radius:20px" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </div>

  </form>
</div>
